---
layout: base
headerButtons: false
navbar: false
title: Calendar
permalink: 'pages/calendar.html'
---

<style type="text/css">
    /* Calendar month view */
    .calendar-fullcalendar {
        background: #fff;
        border-radius: 4px;
        padding: 0 40px 25px;
    }
    .calendar-fullcalendar .fc-header-toolbar {
        height: 75px;
        padding-top: 30px;
    }
    .calendar-fullcalendar .fc-header-toolbar .fc-toolbar-chunk:first-child>div {
        margin: 0;
    }
    .calendar-fullcalendar .fc-header-toolbar .fc-toolbar-chunk:first-child .fc-toolbar-title {
        font-size: 25px;
        margin-top: -2px;
    }
    .calendar-fullcalendar .fc-header-toolbar .fc-toolbar-chunk:first-child button.fc-button {
        display: none;
    }
    .calendar-fullcalendar .fc-header-toolbar .fc-toolbar-chunk:first-child button.fc-prev-button,
    .calendar-fullcalendar .fc-header-toolbar .fc-toolbar-chunk:first-child button.fc-next-button {
        display: block;
    }
    .calendar-fullcalendar .fc-header-toolbar .fc-toolbar-chunk:first-child button.fc-prev-button {
        margin-right: 20px;
    }
    .calendar-fullcalendar .fc-header-toolbar .fc-toolbar-chunk:first-child button.fc-next-button {
        margin-left: 20px;
    }
    .calendar-fullcalendar .fc-header-toolbar .fc-toolbar-chunk:last-child {
        position: absolute;
        right: 65px;
        top: 21px;
    }
    .calendar-fullcalendar .fc-header-toolbar .fc-toolbar-chunk .fc-button {
        background: transparent;
        color: #000;
        font-weight: 500;
        text-transform: capitalize;
    }
    .calendar-fullcalendar .fc-header-toolbar .fc-toolbar-chunk .fc-button.fc-button-active {
        color: #9012fe;
    }
    .calendar-fullcalendar .fc-header-toolbar .fc-toolbar-chunk:last-child .fc-button {
        border-bottom: 3px solid transparent;
    }
    .calendar-fullcalendar .fc-header-toolbar .fc-toolbar-chunk:last-child .fc-button.fc-button-active {
        border-bottom: 3px solid #9012fe;
    }
    .calendar-fullcalendar .fc-header-toolbar .fc-toolbar-chunk:nth-child(2) {
        position: absolute;
        right: 65px;
    }
    .calendar-fullcalendar .fc-header-toolbar .fc-toolbar-chunk:nth-child(2) button:before {
        background: url({{ '/svg/create/list-view.svg' }}) no-repeat;
        background-size: cover;
        content: '';
        display: inline-block;
        height: 30px;
        left: 0;
        position: absolute;
        top: 0;
        width: 37px;
    }

    .calendar-fullcalendar .fc-header-toolbar .fc-toolbar-chunk:nth-child(2) button {
        padding: 0 35px 0 0;
        position: relative;
        text-indent: -9999px;
    }
    .calendar-fullcalendar .fc-header-toolbar button.fc-next-button:before {
        border-bottom: 8px solid transparent;
        border-left: 10px solid #9012fe;
        border-top: 8px solid transparent;
        content: '';
        display: inline-block;
        height: 0;
        width: 0;
    }
    .calendar-fullcalendar .fc-header-toolbar button.fc-prev-button:before {
        border-bottom: 8px solid transparent;
        border-right: 10px solid #9012fe;
        border-top: 8px solid transparent;
        content: '';
        display: inline-block;
        height: 0;
        width: 0;
    }
    .calendar-fullcalendar>.fc-view-harness .fc-view>table thead tr th {
        border: 0;
    }
    .calendar-fullcalendar>.fc-view-harness .fc-view>table thead tr th .fc-scrollgrid-sync-inner a {
        display: inline-block;
        font-weight: 400;
        margin-bottom: 15px;
    }
    .calendar-fullcalendar>.fc-view-harness .fc-view>table thead tr th .fc-scrollgrid-sync-inner {
        text-align: left;
    }
    .calendar-fullcalendar>.fc-view-harness .fc-view>table tbody .fc-scrollgrid-section>td {
        border: 0;
    }
    .calendar-fullcalendar>.fc-view-harness .fc-view.fc-daygrid>table tbody .fc-scrollgrid-section-body>td .fc-daygrid-day-frame {
        cursor: pointer;
        min-height: 94px;
        padding: 0 7px;
    }
    .calendar-fullcalendar>.fc-view-harness .fc-view.fc-daygrid>table tbody .fc-scrollgrid-section-body>td .fc-daygrid-day-frame .fc-daygrid-day-top {
        text-align: right;
    }
    .calendar-fullcalendar>.fc-view-harness .fc-view.fc-daygrid>table tbody .fc-scrollgrid-section-body>td .fc-daygrid-day-frame .fc-event, .calendar-fullcalendar>.fc-view-harness .fc-view.fc-timegrid>table tbody .fc-scrollgrid-section-body>td .fc-daygrid-day-frame .fc-event {
        background: #9012fe;
        border: 0;
        padding: 2px 4px;
    }
    /* Calendar week view */
    .calendar-fullcalendar>.fc-view-harness .fc-view.fc-timegrid>table tbody .fc-scrollgrid-section-body>td .fc-daygrid-day-frame {
        cursor: pointer;
        padding: 0 7px;
    }
    .calendar-fullcalendar>.fc-view-harness {
        height: auto !important;
    }
    .calendar-fullcalendar>.fc-view-harness .fc-timegrid-event {
        background: #9012fe;
        border: 0;
        cursor: pointer;
        padding: 2px 4px;
    }
    .calendar-fullcalendar>.fc-view-harness .fc-timegrid .fc-scrollgrid-sync-table .fc-timegrid-axis .fc-timegrid-axis-cushion {
        color: #9012fe;
        font-size: 13px;
        padding: 0 2px 0 0;
        text-align: right;
    }
    .calendar-fullcalendar>.fc-view-harness .fc-timegrid .fc-scrollgrid-section-liquid .fc-scrollgrid-shrink-cushion {
        color: #9012fe;
        font-size: 13px;
        padding: 0 2px 0 0;
        text-align: right;
    }
    .calendar-fullcalendar>.fc-view-harness .fc-timegrid .fc-scrollgrid-section:not(.fc-scrollgrid-section-body) {
        display: none;
    }
    /* Calendar list view */
    .calendar-fullcalendar>.fc-view-harness .fc-list {
        border: 0;
    }
    .calendar-fullcalendar>.fc-view-harness .fc-list .fc-list-table tbody .fc-list-day .fc-list-day-cushion {
        background: rgba(0, 0, 0, 0.03);
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
    }
    .calendar-fullcalendar>.fc-view-harness .fc-list .fc-list-table tbody .fc-list-event {
        background: #9012fe;
        border-color: #9012fe;
        cursor: pointer;
    }
    .calendar-fullcalendar>.fc-view-harness .fc-list .fc-list-table tbody .fc-list-event:hover td {
        background: transparent;
    }
    .calendar-fullcalendar>.fc-view-harness .fc-list-event-dot {
        border-color: #fff;
    }
    /* Calendar top bar */
    .calendar-top {
        background: #fff;
        border-radius: 4px;
        margin-bottom: 10px;
        padding: 14px 42px;
    }
    .calendar-top .calendar-filters .all-filter {
        background-color: transparent;
        box-shadow: none;
        color: #525F7F;
        cursor: pointer;
        display: inline-block;
        font-weight: 700;
        margin-right: 10px;
        text-transform: uppercase;
    }
    .calendar-top .calendar-filters .all-filter.active {
        color: #9012fe;
    }
    .calendar-top .calendar-filters .dropdown:first-of-type {
        margin-right: 5px;
    }
    .calendar-top .calendar-filters .dropdown .btn {
        text-transform: uppercase;
    }
    .modal-add .modal-dialog, .modal-edit .modal-dialog {
        margin-top: calc(50vh - 100px);
    }
    /* Calendar bottom */
    .calendar-bottom {
        background: #fff;
        padding: 0 40px 20px;
    }
    .calendar-bottom .instagram-label {
        color: #000;
        font-weight: 500;
        margin-bottom: 7px;
    }
    .calendar-bottom .instagram-label:after {
        background: #9012fe;
        content: '';
        display: inline-block;
        height: 10px;
        margin-left: 5px;
        vertical-align: middle;
        width: 10px;
    }
    .calendar-bottom .instagram-text {
        font-size: 14px;
    }
</style>

<div class="container position-relative">
    <div class="calendar-top">
        <div class="container">
            <div class="row">
                <div class="col-6">
                    <div class="calendar-filters">
                        <a class="all-filter active">All</a>
                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton12" data-bs-toggle="dropdown" aria-expanded="false">
                                Events
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton12">
                                <li><a class="dropdown-item" href="#">Email Campaign</a></li>
                                <li><a class="dropdown-item" href="#">Blog post</a></li>
                                <li><a class="dropdown-item" href="#">Content Shoot</a></li>
                                <li><a class="dropdown-item" href="#">Collaboration</a></li>
                                <li><a class="dropdown-item" href="#">Monthly Reporting Due</a></li>
                                <li><a class="dropdown-item" href="#">Launch Date</a></li>
                            </ul>
                        </div>
                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton12" data-bs-toggle="dropdown" aria-expanded="false">
                                Posts
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton12">
                                <li><a class="dropdown-item" href="#">Instagram Posts</a></li>
                                <li><a class="dropdown-item" href="#">Instagram Stories</a></li>
                                <li><a class="dropdown-item" href="#">Instagram Reels</a></li>
                                <li><a class="dropdown-item" href="#">Pinterest</a></li>
                                <li><a class="dropdown-item" href="#">Twitter</a></li>
                                <li><a class="dropdown-item" href="#">Youtube</a></li>
                                <li><a class="dropdown-item" href="#">Plann Promtps</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="calendar-type-switcher"></div>
                </div>
            </div>
        </div>
    </div>
    <div id="calendar-fullcalendar" class="calendar-fullcalendar"></div>
    <div class="calendar-bottom">
        <div class="instagram-label">Instagram:</div>
        <div class="instagram-text">Connect a Facebook Business page or Instagram Business to view your analytics and comments.</div>
    </div>
    <div class="modal fade modal-add" id="schedule-add">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="modal-add-block">
                        <a href="/pages/create.html"><i class="bi bi-plus"></i></i>Post</a><br/>
                        <a href="/pages/create.html"><i class="bi bi-plus"></i></i>Story</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade modal-edit" id="schedule-edit">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="modal-add-block">
                        Edit this post
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
